body {
  font-family: "Inter", sans-serif;
}
.task-checkbox:checked + span {
  text-decoration: line-through;
  opacity: 0.5;
}

.remove {
  display: none;
}

.toast {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    transition: top 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    font-weight: 500;
}

.toast-success { background: #10b981; } 
.toast-info { background: #137fec; }    
.toast-danger { background: #ef4444; } 

.toast.show { top: 20px; }